Form{
 display: flex;
 flex-direction: column;
margin-bottom: -2rem;

}
.column{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}
.add{
    background-color: #1366D9;
    color: white;
    width: 7rem;
    height: 2.2rem;
    border: none;
    border-radius: 0.2rem;
}
.cancel{
    width: 7rem;
    height: 2.2rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgba(228, 228, 228,0.5);
    color: gray;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.error{
    font-size: 0.9rem;
    color: red;
}