.home{
    display: flex;
    flex-direction: row;
   margin-top: 2rem;
justify-content: space-around;
   
}
.change{
   
    background-color:white;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  
}
.summary{

    background-color:white;
    margin-left: 2rem;
    margin-top: 1rem;
    justify-content: flex-start;
    border-radius: 0.5rem;
    height:11rem;
    margin-right: 1rem;
}
.summ{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}
#inve{
    display: flex;
   
    margin-top: 1rem;
    margin-left: 1rem;
    font-size:1.2rem ;
    color: #383E49;
    font-weight: 500;
}
.totale{
    display: flex;
    flex-direction: row;
gap: 3rem;
}
.bar{
    height:7rem ;
    width:0.1rem;
    background-color: #F0F1F3;
}
#categ{
    color: #1570EF;
    font-weight: 500;
    margin-left: 1rem;

}
#totl{
    color: #E19133;
    font-weight:500;
    margin-right: 6rem;
}
#low{
    color: #F36960;
    font-weight:500;
}
.number{
    color: #5D6679;
    font-weight:500;
}
.note{
    color: #858D9D;
    font-size: 0.9rem;
}

.headProd{
    display: flex;
    flex-direction: row;
    gap: 38rem;
    margin-left: 1rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

.ligneProd{
    
  
   text-decoration: none; /* Supprimer le soulignement */
  color: inherit; 
  
}


.titleProd{
 
    color: #667085;
    text-decoration: none; /* Supprimer le soulignement */
  
}


.titlehead{
    font-size: 1.5rem;

}
.btn{
    width: 6rem;
    height: 2.5rem;
    background-color: transparent;
  border-width: 0.03rem;
  border-color: rgb(190, 190, 190);
  border-radius: 0.2rem;
}
#add{
    background-color: #3498db;
    color: white;
    border: none;
}
#add:hover{
    background-color: #2980b9;
    cursor: pointer;
}
.space{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.modal{
    width: 25rem;
    height: 15rem;
  margin-top: 10rem;
  margin-left: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 1rem;
  background-color: rgba(250, 250, 250, 0.3);
  border: none;
}
.desecion{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}
.del{
    background-color:red;
    color: white;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.canc{
    background-color:rgba(177, 174, 174, 0.3);
    color:rgb(49, 48, 48);
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.trach{
    margin-right: 1rem;
}
.productTable{
    width: 65rem;
    
}
.ligneproduit{
  box-shadow: #383E49;
  

}



.productTable {
    border-collapse: collapse; /* Fusionner les bordures des cellules */
    width: 100%; /* Largeur totale du tableau */
}

.productTable th,
.productTable td {
    border-bottom: 1px solid #e2e8f0; /* Bordure inférieure pour séparer les lignes */
    padding: 8px; /* Remplissage des cellules */
}

.productTable td {
    border-top: 1px solid #e2e8f0; /* Bordure supérieure pour créer une ligne entre les lignes */
}

.titleProd td {
    font-weight: normal; /* Mettre en gras le texte dans les cellules de titre */
    background-color: #f7fafc; /* Couleur de fond pour les cellules de titre */
}
.productTable tbody tr:hover {
    background-color: #f0f4f8;
}
.dele{
    background-color: transparent;
    border: none;
}