.home{
    display: flex;
    flex-direction: row;
   margin-top: 2rem;
justify-content: space-around;
   
}
.change{
    width: 67rem;
    background-color:white;
    margin-left: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.headProd{
    display: flex;
    flex-direction: row;
    gap: 38rem;
    margin-left: 1rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

.ligneProd{
    display: flex;
    flex-direction: row ;
  justify-content: space-evenly ;
   margin-left: 2rem;
   margin-right: 0.5rem;
   margin-bottom: -2rem;
   text-decoration: none; /* Supprimer le soulignement */
  color: inherit; 
  
}
.prodform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleProd{
    display: flex;
    flex-direction: row ;
   justify-content: space-evenly;
    color: #667085;
    margin-left: -2rem;
}

.ligne{
    width: 66rem;
    height: 0.03rem;
    background-color: #F0F1F3;
}
.titlehead{
    font-size: 1.5rem;

}
.btn{
    width: 6rem;
    height: 2.5rem;
    background-color: transparent;
  border-width: 0.03rem;
  border-color: rgb(190, 190, 190);
  border-radius: 0.2rem;
}
#add{
    background-color: #1366D9;
    color: white;
}
.space{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.modal{
    width: 25rem;
    height: 15rem;
  margin-top: 10rem;
  margin-left: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 1rem;
  background-color: rgba(250, 250, 250, 0.3);
  border: none;
}
.desecion{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}
.del{
    background-color:red;
    color: white;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.canc{
    background-color:rgba(177, 174, 174, 0.3);
    color:rgb(49, 48, 48);
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.trach{
    margin-right: 1rem;
}