.drags{
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
}
.dragimg{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}
.hidden{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.newprod{
    font-family: Georgia, 'Times New Roman', Times, serif;
}