.notification {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  
  .notification.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  