.columnSupplier{
    
    height: 1.5rem;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    width: 15rem;
}
.Supplier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnSupplier{
    display: flex;
    flex-direction: row;
  justify-content: flex-end;
    gap: 1rem;
    
 
}
#cancel{
    width: 5rem;
    height: 2rem;
}
.confirm{
    width: 6rem;
    height: 2rem;
    background-color: rgb(45, 45, 218);
    border: none;
    border-radius: 0.1rem;
}
.sup{
display: flex;
flex-direction: row;
justify-content: flex-start;

}