
.Supplier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnSupplier{
    display: flex;
    flex-direction: row;
  justify-content: flex-end;
    gap: 1rem;
    
 
}
#cancels{
    width: 6rem;
    height: 2.2rem;
}
.confirm{
    width: 6rem;
    height: 2.2rem;
    background-color:  #1366D9;
    border: none;
    border-radius: 0.1rem;
    color: white;
}
.sup{
display: flex;
flex-direction: row;
justify-content: flex-start;

}