.titleSup{
    display: flex;
    flex-direction: row;
    gap: 11rem;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lignesuuolier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}