.titleSup{
    display: flex;
    flex-direction: row;
 justify-content: space-evenly;

  margin-left: 1rem;
  font-size: 0.9rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#su{
    margin-left: 1rem;
    
}
#sus{
    margin-right: 1rem;
    
}


.supplier-table {
    width: 100%;
    border-collapse: collapse;
}

.supplier-table th,
.supplier-table td {
    border-bottom: 1px solid #e2e8f0;
    padding: 12px;
    text-align: left;
}

.supplier-table th {
    background-color: #f7fafc;
    font-weight: bold;
}

.supplier-table tbody tr:hover {
    background-color: #f0f4f8;
}

.trach {
    cursor: pointer;
}
