.titleUser{
    display: flex;
    flex-direction: row;
  gap: 10rem;
  margin-left: 3rem;
}
.ligneuser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    width: 62rem;
  
}
.user-image{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-top: 0.8rem;
}
.fullname{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
