.modals {
    width: 20rem;
    height: 18rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 0.1rem;
   background-color: white;
    margin-top: 5rem;
    border: none;
    border-color: white;
   
  }
  
#dis{
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
  
  .space {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
  }
  
  .columns {
    display: flex;
    flex-direction: column; /* J'ai changé la direction en colonne pour permettre un alignement correct */
    justify-content: space-between;
  }
  