.sideBar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10rem;
  color: grey;
  width: 15rem; 
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 1rem gray;

}
.sideBar .link a {
  text-decoration: none; /* Supprimer le soulignement */
  color: inherit; /* Utiliser la couleur par défaut du texte */
}



.dis{
  width: 7rem;
}

.link{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 
}
#space{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.box{
 
  width: 4rem;
  height: 3.3rem;
  margin-top: 1rem;
}
.icons{
  width: 1.5rem;
  height: 1.5rem; 
}
.structure{
  display: flex;
  flex-direction: column;
  gap: 18rem;
  margin-top: 1rem;
  margin-left: 2rem;
  justify-content: center;

}
