#tb{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}
.tbs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.bi{
    display: flex;
flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}
.imprime
{
    width: 2rem;
    height: 2rem;
    
}
.impr{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
